html,body{

    height: 100%;
}

html,body,ul,li,a,span,div,h1,h2,h3,h4,h5,h6,b,i,u,p{

    margin: 0;
    padding: 0;
    /* li标签前面的小点 */
    list-style: none;
    /* 去掉a标签的下划线 */
    text-decoration: none;
}